/vendor/
node_modules/
npm-debug.log
yarn-error.log

public/storage

storage/*.key
storage/debuggar
storage/logs

.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

#IDE
.idea
.vscode
.zshrc
